body{
	font-family: 'Loved by the King', cursive;
	font-size: 23px;
	letter-spacing: 10px;

}

h1{
	color: blue;
	letter-spacing: -1px;
	text-transform: capitalize;
	width: 650px;
	text-shadow: 1px 1px 1px #000000;	
}
p{
	width: 650px;	
	font-size: 18px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}





