body{
	font-family: Helvetica, sans-serif;
}
a:link, a:visited{
	color: #ff6600;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
#wrap{
	width: 960px;
	margin: auto;
	background:	#87ceeb;
	padding: 10px 20px;
	overflow: hidden;
}
header nav	ul{
	list-style: none;
	padding-left: 0;
}
header nav ul li{
	display: inline-block;
	margin-right: 10px;
}
header nav ul li a{
	font-size: 19px;
}
#content{
	float: left;
	width: 570px;
}
#sidebar{
	float: right;
	width: 390px;
}	
#sidebar ul{
	list-style: none;
}
footer{
	clear: both;
}








